<header
  class="flex item-center m-auto w-full bg-angel-gradient py-6 px-4 gap-x-8 md:h-28"
>
  <div
    class="flex md:flex-col h-full md:gap-4 w-full justify-center items-center"
  >
    <nav>
      <div class="w-full flex flex-row items-center">
        <h1 class="text-5xl font-bungee">Food Roulette</h1>
      </div>
    </nav>
  </div>
</header>
